---
import { Icon } from 'astro-icon';
import path from "path";

const { title, img, desc, url, badge, tags, target = '_blank' } = Astro.props;

let imgName;
let imgType;
if (img) {
  imgName = path.parse(img).name;
  imgType = path.parse(img).ext;
}
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {imgType !== '.svg' && <img src={img} alt={title} class="max-h-20 rounded-lg" />}
      {imgType === '.svg' && <Icon name={imgName} class="fill-primary max-h-24" />}
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {tags && tags.map((tag) => 
          <div class="badge hover:badge-outline"><a href={`/tags/${tag}`}>{tag}</a></div>)}
        </div>
      </div>
    </div>
  </a>
</div>
